/* Controls the layout of the map, the app settings and layout.

    Version: 0.2.0-20140307
    Author     : Jason J.
*/

/**
* #.# General
*
* These are styles that are used generically in the app.
*/
html { 
    height: 100%; 
}
body { 
    height: 100%; 
    margin: 0; 
    padding: 0; 

    font-family: verdana;
    font-size: 10pt;
}

/** Centering items veritcally part 1. */
.centered-item-outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
/** Centering items veritcally part 2. */
.centered-item-middle {
    display: table-cell;
    vertical-align: middle;
}

/**
* #.# Notice Banner
*
* The warnings and notices that the current browser may not be compatible.
*/
#app-notice-banner {
    /** Hidden by default. */
    display: none;
    position: relative;
    
    /* Yellowish */
    background: #fcfccc;
    padding: 5px;
    
    font-weight: bold;
    font-family: arial;
    text-align: center;
    font-style: italic;
}
/**The close button for the banner. */
#close-notice-banner {
    position:absolute;
    top:3px;
    right:3px;
    
    display: block;
    border: 1px #ededa3 solid;
    padding: 3px;
    line-height: 16px; 
    height: 16px; 
    width: 16px;
        
    color:#000;
    font-family:sans-serif;
    font-size: 14px;
    font-style: normal;
    text-decoration:none;
    
}

body {
    height: 90%;
    width: 80%; 
    
    margin: auto;
    margin-top: 10px;
}

/**
* #.# App container
*
* This is the main container of the app where all the content resides.
*/
#app-container {
    height: 100%;
    position: relative;
    
} 
 
/**
* #.## Map Container/Canvas
*
* This the map section; minimal styling here.
*/
#map-canvas { 
    height: 100%;
}

/**
* #.## App Controls
*
* This where the main app controls and HUD are shown.
*/
#app-controls {
    position: absolute;
    top: 0px;
    
    min-height: 40px;
    width: 100%;
    
    clear: both;
    /** Places controls in front of the map. */
    z-index: 99;
}
/** The background style for the HUD. 
Currently a transparent white. */
#app-controls-background {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    /** Ensure it is in the background. */
    z-index: -1;
    
    background: white;
    /* IE 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
   /* IE 5-7 
   filter: alpha(opacity=70);*/
   /* Safari 1.x */
   -khtml-opacity: 0.7;
   /* Good browsers */
   opacity: 0.7;
}
/** Required to float left to center the app status. */
#linkedin-display {
    float: left;
}

/**
* #.### The application status
*
* The status of what the application is currently doing or certain errors.
*/
#app-status { 
    width: 100%;
    height: 40px;
    line-height: 40px;
    
    text-align: center;
    /** Greyish-black. */
    color: #555;
    text-indent: 45px;
}
/** The spinner in the middle of the page, used to indicate the browser has not frozen. */
#app-progress-spinner {
    /** Hide by default. */
    display: none;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 60px;
    margin: -50px;
    /*margin-left: -50px;*/
}

/**
* #.### Right panel
*
* The right part of the control panel with inputs
*/
#right-panel {
    float: right;
    margin: 3px;
}

/** The disconnect link being aligned to the right. */
#disconnect-app-action {
    float: right;
    margin: 3px;
    font-size: 8pt;
}
/** Setting the disconect link to be red on hover. */
#disconnect-app-action:hover {
    color: red;
}

/**
* #.#### Inputs
*
* The actual inputs of the app. Checkboxes, buttons, etc.
*/
#input-controls {
    font-size: 9pt;
}
/** Set all the contents to be centered vertically. */
#input-controls * {
    position: relative;
    display:inline-block;    
    vertical-align:middle; 
}

/** Set the colour by connections input to be pointer and centered. */
#colour-by-connections-wrapper input, 
#colour-by-connections-wrapper label {
    position: relative;
    display:inline-block;    
    vertical-align:middle; 
    cursor: pointer;
}

/**
/////////////////////////////////////////////////////////////////////////////
*/

/**
* #.### Connect splash 
*
* The splash that covers the map and requests the user to connect.
*/
#connect-splash {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    
    text-align: center;
    font-size: 8pt;
}
/** The background of the splash, translucent white. */
.splash-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    /* IE 8 */
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
   /* IE 5-7 
   filter: alpha(opacity=50);*/
   
   /* Safari 1.x */
   -khtml-opacity: 0.5;

   /* Good browsers */
   opacity: 0.5;
}

/** Centering items veritcally part 3. 
See: .centered-item-outer
See: .centered-item-middle  
*/
#linkedin-connect-button { 
    position: absolute;
    width: 140px;
    left: 50%;
    margin-top: -20px;
    margin-left: -70px;
}

/** The message displayed about connect. */
#connect-splash #connect-splash-message{
    /** Darker red. */
    color: #d22;
    font-weight: bold;
    
    position: absolute;
    width: 300px;
    left: 50%;
    margin-top: -80px;
    margin-left: -150px;
}
